<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="konnect-cordova-plugin-file"
    version="2.1.0">

    <name>KonnectCordovaPluginFile</name>
    
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    
    <js-module src="www/requestFileSystem.js" name="requestFileSystem">
        <clobbers target="window.konnectRequestFileSystem" />
    </js-module>

    <!-- android -->
    <platform name="android">
    
    	<config-file target="res/xml/config.xml" parent="/*">
            <feature name="File" >
                <param name="android-package" value="org.apache.cordova.file.KonnectFileUtils"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>

	      <!-- java file -->
	     <source-file src="src/android/Filesystem.java" target-dir="src/org/apache/cordova/file" />
	     <source-file src="src/android/LocalFilesystem.java" target-dir="src/org/apache/cordova/file" />
	     <source-file src="src/android/KonnectFileUtils.java" target-dir="src/org/apache/cordova/file" />
        <source-file src="src/android/FileExistsException.java" target-dir="src/org/apache/cordova/file" />
        <source-file src="src/android/InvalidModificationException.java" target-dir="src/org/apache/cordova/file" />
        <source-file src="src/android/NoModificationAllowedException.java" target-dir="src/org/apache/cordova/file" />
        <source-file src="src/android/TypeMismatchException.java" target-dir="src/org/apache/cordova/file" />
        <source-file src="src/android/LocalFilesystemURL.java" target-dir="src/org/apache/cordova/file" />
		<source-file src="src/android/AssetFilesystem.java" target-dir="src/org/apache/cordova/file" />
	     
	     
	      <!-- android specific file apis 
        <js-module src="www/android/FileSystem.js" name="androidFileSystem">
            <merges target="window.FileSystem" />
        </js-module>
        <js-module src="www/fileSystems-roots.js" name="fileSystems-roots">
            <runs/>
        </js-module>
        <js-module src="www/fileSystemPaths.js" name="fileSystemPaths">
            <merges target="cordova" />
            <runs/>
        </js-module>-->

    </platform>

</plugin>
